<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <% if(locals.error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <form action="/user/signup" method="POST">
        <label for="name">Username</label>
        <input type="text" name="name" placeholder="Username">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Signup</button>
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
</body>
</html>